/*Estilos de la seccion de proyectos*/
.proyectos{
    width: 100%;
    background: var(--fondo-proyectos);
    box-sizing: border-box;
    padding: 0 1rem;
}

.galeria-proyectos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.proyecto{
    background-color: rgb(25, 1, 48);
    border: 1px solid #45275d;
    border-radius: 5px;
    padding: 15px;
    margin: 0 0 2rem;
    width: calc(100% - 2rem);
    box-shadow: 1px 2px 5px #af9fb6;
    text-align: center;
    box-sizing: border-box;
}

.proyectos img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.proyectos img:hover {
    transform: scale(1.05);
}

.proyectos h3{
    margin-top: 10px;
    font-size: 1.4rem;
    color: var(--highlight-color);
}

.proyectos p{
    margin: 10px 0;
    font-size: 1rem;
    color: #eaeaea;
}

.proyectos a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #3f2962;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.proyectos a:hover{
    background: #683899;
    transform: translateY(-5px);
}

@media (min-width: 768px) {
    .proyecto {
        width: calc(50% - 2rem);
    }
}

@media (min-width: 1024px) {
    .proyecto {
        width: calc(33.333% - 2rem);
    }
}